hostname=https://auth.ortolang.fr
key.name=auth.ortolang.fr
key.certificate=
keycloak.username=root
keycloak.password=tagada54
keycloak.realm=ortolang
keycloak.client.name=import
keycloak.server.url=http://auth.ortolang.fr/auth
wayf.url=https://federation.renater.fr/test/renater-test-metadata.xml
name.id.policy.format=urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified