hostname=https://auth.server.com
key.name=auth.server.com
key.certificate=
keycloak.username=username
keycloak.password=password
keycloak.realm=myrealm
keycloak.client.name=import
keycloak.server.url=http://auth.server.com/auth
#mode=proxy
mode=keycloak-sync
wayf.url=https://federation.renater.fr/test/renater-test-metadata.xml
name.id.policy.format=urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified
