hostname=${DISCOVERY_HOSTNAME}
key.name=${DISCOVERY_KEY_NAME}
key.certificate=${DISCOVERY_KEY_CERTIFICATE}
keycloak.username=${DISCOVERY_KEYCLOAK_USERNAME}
keycloak.password=${DISCOVERY_KEYCLOAK_PASSWORD}
keycloak.realm=${DISCOVERY_KEYCLOAK_REALM}
keycloak.client.name=${DISCOVERY_KEYCLOAK_CLIENT_NAME}
keycloak.server.url=${DISCOVERY_KEYCLOAK_SERVER_URL}
mode=${DISCOVERY_MODE}
wayf.url=${DISCOVERY_WAYF_URL}
name.id.policy.format=${DISCOVERY_NAMEID_FORMAT}
